.group {  
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12.5vh;
}

.even {
    color: #fff;
    background-color: #03823a;
}

.odd {
    color: #fff;
    background-color: #fcba03;
}

.groupName {
    font-size: 26px;
    width: 25%;
    font-weight: bolder;
}

.teams {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    font-size: 14px;
    padding-left: 5px;
}

.teamName{
    font-weight: 700;
}

