.stageResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12.5vh;
}

.stageName {
    height: 50%;
    font-size: 13px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.result {
    height: 50%;
    font-size: 15px;
    font-weight: 600;
    border-top: 1px solid black;
    width: 100%;
}

.right {
    border-right: 2px solid black;
}

.left {
    border-left: 2px solid black;
}